<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h4 class="page-title text-truncate text-dark font-weight-medium mb-1"><%= header %></h4>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="<%= sub_header_url %>" class="text-muted"><%= sub_header %></a></li>
                        <li class="breadcrumb-item text-muted active" aria-current="page"><%= header %></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <% if(message){ %>
                <div class="col-md-12">
                    <div class="alert alert-<%= message.type %> alert-dismissible bg-<%= message.type %> text-white border-0 fade show"
                        role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= message.message %>
                    </div>
                </div>
            <% } %>
            <div class="card">
                <div class="card-body">
                    <form action="/user/save" method="post">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="comp_id">Company List</label>
                                    <select class="form-control" name="comp_id" id="comp_id">
                                        <option value="" selected>Select Company</option>
                                        <% comp_list.forEach(dt => {
                                            var _selected = ''
                                            if(data.length > 0)
                                            if(data[0].comp_id == dt.id) _selected = 'selected' %>
                                            <option value="<%= dt.id %>" <%= _selected %>><%= dt.name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="user_name">Name</label>
                                    <input type="text" id="user_name" name="user_name" class="form-control" value="<%= data.length > 0 ? data[0].user_name : '' %>">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="phone_no">Phone No.</label>
                                    <input type="text" id="phone_no" name="phone_no" class="form-control" value="<%= data.length > 0 ? data[0].phone_no : '' %>">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <select class="form-control" name="password" id="password" aria-label=".form-select-sm example">
                                        <option value="Nopass@123" selected>Default (Nopass@123)</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <%# if(id > 0){ %> 
                            <div class="row my-3">
                                <div class="col-md-1 mt-1"><label>Active: </label></div>
                                <div class="col-md-3">
                                    <!-- <div class="button-cover"> -->
                                        <div class="toggle-button b2" id="tg-btn">
                                            <input type="checkbox" class="checkbox" name="active_flag" value="N" <%= data.length > 0 ? (data[0].active_flag != 'Y' ? 'checked' : '') : '' %>/>
                                        <div class="true-label">
                                            <span>YES</span>
                                        </div>
                                            <div class="layer"></div>
                                        </div>
                                    <!-- </div> -->
                                </div>
                            </div>
                        <%# } %>
                        <div class="row mt-3">
                            <input type="hidden" name="id" value="<%= id %>">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-success float-center"><i class="fa fa-save mr-2"></i>Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#comp_id').on('change', function(){
        $.ajax({
            method:'GET',
            url: '/company/dtls_ajax',
            data: {id: $(this).val()},
            dataType: 'html',
            beforeSend: function(){
                $('.preloader').show()
            },
            success: function(result){
                var res = JSON.parse(result);
                // console.log(res);
                if(res.suc > 0){
                    $('#user_name').val(res.msg[0].contact_person)
                    $('#phone_no').val(res.msg[0].phone_no)
                }
            },
            complete: function(){
                $('.preloader').hide()
            }
        })
    })
</script>